*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#0b1120;
color:#e2e8f0;
}
body{
font-family:'Inter',sans-serif;
line-height:1.6;
}
section{
padding:100px 80px;
}
html{
scroll-behavior:smooth;
}


nav{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:#111827;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav a{
color:#e2e8f0;
text-decoration:none;
}

header{
text-align:center;
padding:140px 20px;
}

header h1{
font-size:48px;
}

header h2{
color:#38bdf8;
margin-top:10px;
}

.btn{
margin-top:20px;
padding:10px 25px;
background:#38bdf8;
color:black;
border-radius:6px;
text-decoration:none;
display:inline-block;
}

section{
padding:80px 60px;
}

.kpi{
display:flex;
justify-content:space-around;
text-align:center;
background:#111827;
padding:60px 0;
}

.kpi-box h3{
font-size:40px;
color:#38bdf8;
}

.project{
background:#1f2937;
padding:20px;
margin-bottom:20px;
border-radius:8px;
transition:0.3s;
}

.project:hover{
transform:translateY(-5px);
}

footer{
text-align:center;
padding:20px;
background:#111827;
}
.edu-card{
background:#1f2937;
padding:20px;
margin-top:20px;
border-radius:8px;
}

#analytics{
background:#111827;
text-align:center;
}

#analytics canvas{
max-width:800px;
margin:auto;
}
.chart-container{
max-width:800px;
margin:40px auto;
background:#1f2937;
padding:20px;
border-radius:8px;
}

.sql-card{
background:#1f2937;
padding:20px;
margin-top:20px;
border-radius:8px;
overflow:auto;
}

pre{
background:#111827;
padding:15px;
border-radius:6px;
color:#38bdf8;
}

.cert-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:30px;
}

.cert-card{
background:#1f2937;
padding:20px;
border-radius:8px;
transition:0.3s;
}

.cert-card:hover{
transform:translateY(-5px);
}
